@media screen and (max-width: 992px) {
  .carousel_main .carousel_item {
    height: 900px;
  }
}
@media screen and (max-width: 576px) {
  .carousel_main .carousel_item {
    height: 500px;
  }
  .carousel_main .carousel_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
