.header {
  height: 100px;
  line-height: 100px;
  text-align: center;
  position: absolute;
  inset: 0;
  z-index: 1;
}
.header a {
  font-weight: bold;
}
.header .navigation {
  display: flex;
}
.header .navigation ul {
  flex: 1;
  display: flex;
  justify-content: space-around;
}
.header .navigation ul li a {
  position: relative;
}
.header .navigation ul li a::after {
  content: '';
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: right center;
  transition: transform 0.3s;
}
.header .navigation ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left center;
}
